external/
cmake-build-debug/
.idea/
resources/pieces/
/tests/output/
/.run/
/.vs
/out/build/x64-Debug
/CMakeSettings.json
/profiles
/out/build/x64-Release
/out/build/Mingw64-Release
/sounds/
/pieces/
/resources/
